 <form method="post" action="{ babPhpSelf }">
     <input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
     <input type="hidden" name="tg" value="{ babAddonTarget }/admin">
     <input type="hidden" name="idx" value="spoof">
     
    <p>
     <label>{ t_nickname }
         <input type="text" name="nickname" />
     </label>
    </p>
     <p>
         <input type="submit" value="{ t_save }" />
     </p>
     
 </form>